*{
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

header{
    width: 100%;
    height: 89vh;
    background-color: rgba(229, 84, 115, 0.10);
}
.banner-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
    padding: 50px;
 
}

.banner-title{
    color: #272727;
    font-size: 50px;
    font-weight: 800;
}

.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 30px;
}
.btn-primary{

    margin-top: 30px;
    color: #FFF;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;

} 

.btn-primary:hover{
    background-color: darkorchid;
}

/* main section  */

main section{
    margin-top: 100px;
}

/* Our Featured Flowers section  */
.feature-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.feature-subtitle{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
}

.flower-tree{
    display: flex;
    gap: 24px;
    /* margin-top: 48px; */
    margin: 48px 240px;
    
    /* justify-content: space-around; */
}

.flower-item1{
    width: 520px;
    height: 428px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15)
}
.flower-item2{
    width: 520px;
    height: 428px;;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    margin-bottom: 20px;
}

.flower-item3{
    width: 520px;
    height: 428px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.pink{
    text-align: center;
    text-decoration-line: underline;
}

/* Hot Deal Section  */
.hot-deal-container{
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    height: 620px;
    

}
.deal-container{
    display: flex;
    gap: 215px;
    /* text-align: center; */
    align-items: center;
    margin: 100px 240px;
    text-align: center;
    padding: 100px 0;
}
.deal-title{
    color: #272727;
    font-size: 30px;
    font-weight: 800;
}

.text-color{
    color: #E55473;
    font-size: 30px;
    font-weight: 800;
}

.deal-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
}

/* Instagram section   */

.instagram-continer{
    text-align: center;
}

.instagran-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.instagram-destription{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
}

.instagram-flower{
    display: flex;
    gap: 24px;
    margin: 48px 240px;
}

.order{
    margin-top: 5px;
    color: #FFF;
    display: inline-flex;
    padding: 5px 10px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
}
.order:hover{
    background-color: darkmagenta;
}

.latest-deal{
    text-align: center;
    padding: 120px 100px;
    /* justify-content: center; */
    /* align-items: center; */
}

.latest-deal-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.coupon{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 10px;
}

#myInput{
    width: 500px;
    height: 50px;
    border-radius: 8px;
    background: #FFF;
}

#myInput::placeholder {
    color: rgba(39, 39, 39, 0.60);
    /* text-align: center; */
    font-size: 16px;
    font-weight: 400; 
    padding: 20px;
}

.latest-deal-bg{
    background-image
    : url('../Rectangle\ 9.png');
    height: 449px;
    margin: 0 240px;
}

.footer{
    margin: 100px;
    text-align: center;
    padding: 128px 0;
}
.footer-title{
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
}

.shop{
    color: #FFF;
}

.footer-description{
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
}

.copyright{
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
    margin-top: 32px;
}
footer{
    background-color: #272727;
    height: 449px;
}