*{
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

header{
    width: 100%;
    height: 88vh;
    background-color: rgba(229, 84, 115, 0.10);
}
.banner-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
    padding: 50px;
 
}

.banner-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 30px;
}
.btn-primary{

    margin-top: 30px;
    color: #FFF;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;

} 

/* main section  */

main section{
    margin-top: 100px;
}

/* Our Featured Flowers section  */
.feature-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.feature-subtitle{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
}

.flower-tree{
    display: flex;
    gap: 24px;
    /* margin-top: 48px; */
    margin: 48px 240px;
    
    /* justify-content: space-around; */
}

.flower-item1{
    width: 520px;
    height: 428px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15)
}
.flower-item2{
    width: 520px;
    height: 428px;;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    margin-bottom: 20px;
}

.flower-item3{
    width: 520px;
    height: 428px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.pink{
    text-align: center;
    text-decoration-line: underline;
}

/* Hot Deal Section  */
.hot-deal-container{
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);

}
.deal-container{
    display: flex;
    gap: 215px;
    align-items: center;
    margin: 50px 240px;
    text-align: center;
}
.deal-title{
    color: #272727;
    font-size: 30px;
    font-weight: 800;
}

.text-color{
    color: #E55473;
    font-size: 30px;
    font-weight: 800;
}

.deal-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
}
